@use '../../variables.scss';

.number-panel {
  display: flex;
  margin: 15px;
  background: variables.$numberPanelBackground;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: variables.$numberPanelFontColour;
  justify-content: center;
  @include variables.flex1;

  @include variables.tablet {
    @include variables.flex2;
  }

  @include variables.desktop {
    @include variables.flex3;
  }

  &--is-multiple {
    background: variables.$multipleHighlightBackground;
    color: variables.$numberPanelMultipleFontColour
  }

  &--is-selected {
    background: variables.$selectedHighlightBackground;
    color: variables.$numberPanelSelectedFontColour;
  }

  &__label {
    padding: 50% 0 50%;
    height: 0;
    font-size: 32px;
    display: flex;
    align-items: center;
  }
}